---
layout: none
reasons:
  - Keynote speakers and networking opportunities.
  - In-person for a chance to learn from industry experts.
  - Connect with like-minded professionals.
  - Networking lunch.
  - Business drinks (Get in touch if you would like to sponsor).
included:
  - icon: user-tie
    text: Talks from industry-leading speakers
  - icon: utensils
    text: FREE drinks, refreshments and lunch throughout the day
  - icon: people-group
    text: The “Wicked Keycloak Challenges and How to Resolve Them” session, sharing practical insights and solutions
  - icon: martini-glass-citrus
    text: Drinks and time to connect with friends and the community after the event wraps up
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{site.title}}</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{site.description}}">
	<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">

	<!-- OpenGraph -->
	<meta property="og:url" content="{{site.url}}">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{site.title}}">
	<meta property="og:description" content="{{site.description}}">
	<meta property="og:image" content="{{site.url}}/assets/images/keyconf-social-media.png">

	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="{{site.title}}">
	<meta name="twitter:description" content="{{site.description}}">
	<meta name="twitter:image" content="{{site.url}}/assets/images/keyconf-social-media.png">

	<!-- Google Fonts -->
	<link href="{{ site.baseurl }}/assets/fonts/fonts.css" rel="stylesheet">

	<!-- FontAwesome JS-->
	<script defer src="{{ site.baseurl }}/assets/fontawesome/js/all.min.js"></script>

	<!-- Theme CSS -->
	<link id="theme-style" rel="stylesheet" href="{{ site.baseurl }}/assets/css/theme.css">

</head>

<body>
	{% include header.html %}

	<div id="hero-block" class="hero-block">
		<div id="hero-carousel" class="hero-carousel carousel slide carousel-fade" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item-1 carousel-item active"></div>
				<div class="carousel-item-2 carousel-item"></div>
				<div class="carousel-item-3 carousel-item"></div>
			</div>
		</div>
		<div class="hero-block-mask"></div>
		<div class="container">
			<div class="hero-text-block">
				<h1 class="hero-heading mb-2">KeyConf26</h1>
				<div class="hero-meta mb-3"><i class="far fa-calendar-alt me-2"></i>08 Oct 2026<i class="fas fa-map-marker-alt mx-2"></i>Prague, Czech Republic<i class="fas fa-clock mx-2"></i>9am - 6pm</div>
				<div class="hero-intro mb-4">Our annual conference dedicated to the Keycloak user community returns, with even more content and networking opportunities than last year. It’s the perfect place to interact, learn, share, and exchange insights and real-world use cases network with fellow experts, users, and contributors.</div>

				{% if site.showCallforsessions %}
				<div class="hero-cta"><a class="btn btn-primary btn-lg" href="https://forms.office.com/pages/responsepage.aspx?id=hFQsXiLlnUeRylFdbgziKBgok6UO9mxHnShifZvG4ehUQUhMTlJZODZYMThENlVJVjhEU0lEWVRRWi4u&route=shorturl" target="_blank">Call for Sessions</a></div>
				{% endif %}

				{% if site.showTicketSale %}
				<div class="hero-cta"><a class="btn btn-primary btn-lg" href="{{site.eventbrite}}" target="_blank">Get Tickets</a></div>
				{% endif %}
				{% if site.rsvpLivestream %}
				<div class="hero-cta"><a class="btn btn-primary btn-lg" href="{{site.meetup}}" target="_blank">RSVP Livestream</a></div>
				{% endif %}
			</div><!--//hero-text-block-->
		</div><!--//container-->

	</div><!--//hero-block-->

	<div class="stats-block theme-bg-primary text-white py-4 text-center">
		<div class="container">
			<div class="row">
				<div class="col-6 col-md-4">
					<div class="item">
						<div class="number">100+</div>
						<div class="unit">Attendees</div>
					</div><!--//item-->
				</div><!--//col-->
				<div class="col-6 col-md-4">
					<div class="item">
						<div class="number">2</div>
						<div class="unit">Rooms</div>
					</div><!--//item-->
				</div><!--//col-->
				<div class="col-6 col-md-4">
					<div class="item">
						<div class="number">14</div>
						<div class="unit">Talks</div>
					</div>
				</div>
			</div>
		</div><!--//container-->
	</div><!--//stats-block-->

	{% include about.html %}

	{% include speakers.html %}

	<div class="container">
		<hr>
	</div>

	{% include schedule.html %}

	{% include tickets.html %}

	{% include venue.html %}

	{% include sponsors.html %}

	{% include footer.html %}

	<!-- Modal Speaker -->
	{% include speaker-modal.html %}

	<!-- Javascript -->
	<script src="{{ site.baseurl }}/assets/plugins/popper.min.js"></script>
	<script src="{{ site.baseurl }}/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="{{ site.baseurl }}/assets/plugins/smoothscroll.min.js"></script>
	<script src="{{ site.baseurl }}/assets/plugins/gumshoe/gumshoe.polyfills.min.js"></script>
	<script src="{{ site.baseurl }}/assets/js/main.js"></script>

</body>
</html>

