<section id="schedule-section" class="schedule-section section">
    <div class="container">
        <h3 class="section-heading text-center mb-5">Schedule</h3>
        
        <!-- Nav tabs -->
        <ul class="schedule-nav nav nav-pills nav-fill" id="myTab" role="tablist">
            <li class="nav-item me-2">
                <a class="nav-link active" id="tab-1" data-bs-toggle="tab" href="#tab-1-content" role="tab" aria-controls="tab-1-content" aria-selected="true">
                    <span class="heading">Thu 19, Sep</span>
                    <span class="meta d-none">Day 1</span>
                </a>
            </li>
        </ul>
        
        <!-- Tab panes -->
        <div class="schedule-tab-content tab-content">
            <div class="tab-pane active" id="tab-1-content" role="tabpanel" aria-labelledby="tab-1">
                <div class="item item-talk">
                    <div class="meta">
                        <h4 class="time mb-3">9:00 - 9:50</h4>
                    </div><!--//meta-->
                    <div class="content">
                        <h3 class="title mb-3">Registration &amp; Welcome Coffee</h3>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-talk">
                    <div class="meta">
                        <h4 class="time mb-3">9:50 - 10:00</h4>
                    </div><!--//meta-->
                    <div class="content">
                        <h3 class="title mb-3">Opening Remarks and Welcome from adorsys</h3>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-talk">
                    <div class="meta">
                        <h4 class="time mb-3">10:00 - 10:30</h4>
                        <div class="profile">
                            <div class="name">Keynote</div>
                        </div><!--//profile-->
                    </div><!--//meta-->
                    <div class="content">
                    {% include talk.html index=0 %}
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-talk">
                    <div class="meta">
                        <h4 class="time mb-3">10:30 - 11:00</h4>
                        <div class="profile">
                            <div class="name">Talk</div>
                        </div><!--//profile-->
                    </div><!--//meta-->
                    <div class="content">
                    {% include talk.html index=1 %}
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-talk">
                    <div class="meta">
                        <h4 class="time mb-3">11:00 - 11:30</h4>
                        <div class="profile">
                            <div class="name">Talk</div>
                        </div><!--//profile-->
                    </div><!--//meta-->
                    <div class="content">
                        {% include talk.html index=2 %}
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-other">
                    <div class="meta">
                        <h4 class="time mb-3">11:30 - 12:00</h4>
                        <div class="profile">
                            <div class="name">Talk</div>
                        </div><!--//profile-->
                    </div><!--//meta-->
                    <div class="content">
                        {% include talk.html index=3 %}
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-other">
                    <div class="meta">
                        <h4 class="time mb-3">12:00 - 13:00</h4>
                    </div><!--//meta-->
                    <div class="content">
                        <h3 class="title mb-3">Lunch Break</h3>
                        <div class="desc">Let's have some delicious food together.</div>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-other">
                    <div class="meta">
                        <h4 class="time mb-3">13:00 - 13:30</h4>
                        <div class="profile">
                            <div class="name">Talk</div>
                        </div><!--//profile-->
                    </div><!--//meta-->
                    <div class="content">
                        {% include talk.html index=4 %}
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-other">
                    <div class="meta">
                        <h4 class="time mb-3">13:30 - 14:00</h4>
                        <div class="profile">
                            <div class="name">Talk</div>
                        </div><!--//profile-->
                    </div><!--//meta-->
                    <div class="content">
                        {% include talk.html index=5 %}
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-other">
                    <div class="meta">
                        <h4 class="time mb-3">14:00 - 14:30</h4>
                        <div class="profile">
                            <div class="name">Talk</div>
                        </div><!--//profile-->
                    </div><!--//meta-->
                    <div class="content">
                        {% include talk.html index=6 %}
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-other">
                    <div class="meta">
                        <h4 class="time mb-3">14:30 - 14:45</h4>
                    </div><!--//meta-->
                    <div class="content">
                        <h3 class="title mb-3">Coffee Break</h3>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-other">
                    <div class="meta">
                        <h4 class="time mb-3">14:45 - 15:15</h4>
                        <div class="profile">
                            <div class="name">Talk</div>
                        </div><!--//profile-->
                    </div><!--//meta-->
                    <div class="content">
                        {% include talk.html index=7 %}
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-other">
                    <div class="meta">
                        <h4 class="time mb-3">15:15 - 15:45</h4>
                        <div class="profile">
                            <div class="name">Talk</div>
                        </div><!--//profile-->
                    </div><!--//meta-->
                    <div class="content">
                        {% include talk.html index=8 %}
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-other">
                    <div class="meta">
                        <h4 class="time mb-3">15:45 - 16:00</h4>
                    </div><!--//meta-->
                    <div class="content">
                        <h3 class="title mb-3">Closing Remarks</h3>
                    </div><!--//content-->
                </div><!--//item-->
                
            </div><!--//tab-1-content-->
        </div><!--//schedule-tab-content-->
        {% if site.showTicketSale %}
        <div class="schedule-cta text-center mx-auto"><a href="{{site.eventbrite}}" class="btn btn-secondary btn-lg" target="_blank">Buy Tickets</a></div>
        {% endif %}
    </div><!--//container-->
</section><!--//schedule-section-->