<section id="schedule-section" class="schedule-section section">
    <div class="container">
        <h3 class="section-heading text-center mb-5">Schedule</h3>
        
        <!-- Nav tabs -->
        <ul class="schedule-nav nav nav-pills nav-fill" id="myTab" role="tablist">
            <li class="nav-item me-2">
                <a class="nav-link active" id="tab-1" data-bs-toggle="tab" href="#tab-1-content" role="tab" aria-controls="tab-1-content" aria-selected="true">
                    <span class="heading">Thu 28, Aug</span>
                    <span class="meta d-none">Day 1</span>
                </a>
            </li>
        </ul>
        
        <!-- Tab panes -->
        <div class="schedule-tab-content tab-content">
            <div class="tab-pane active" id="tab-1-content" role="tabpanel" aria-labelledby="tab-1">
                <div class="item item-talk">
                    <div class="meta">
                        <h4 class="time mb-3">9:00 - 9:50</h4>
                    </div><!--//meta-->
                    <div class="content">
                        <h3 class="title mb-3">Registration &amp; Welcome Coffee</h3>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-talk">
                    <div class="meta">
                        <h4 class="time mb-3">9:50 - 10:00</h4>
                    </div><!--//meta-->
                    <div class="content">
                        <h3 class="title mb-3">Opening remarks and welcome from organisers</h3>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-talk">
                    <div class="meta">
                        <h4 class="time mb-3">10:00 - 10:15</h4>
                    </div><!--//meta-->
                    <div class="content">
                        <h3 class="title mb-3">Keycloak OAuth Special Interest Group community message</h3>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-talk">
                    <div class="meta">
                        <h4 class="time mb-3">10:15 - 10:45</h4>
                    </div><!--//meta-->
                    <div class="content">
                        {% include talk.html index=1 room=1 %}
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-talk">
                    <div class="meta">
                        <h4 class="time mb-3">10:45 - 11:15</h4>
                    </div><!--//meta-->
                    <div class="content">
                        {% include talk.html index=2 room=1 %}
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-talk">
                    <div class="meta">
                        <h4 class="time mb-3">11:15 - 11:30</h4>
                    </div><!--//meta-->
                    <div class="content">
                        <h3 class="title mb-3">Coffee Break</h3>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-talk">
                    <div class="row mb-3 content">
                    <div class="meta">
                        <h4 class="time mb-3">11:30 - 12:00</h4>
                    </div><!--//meta-->
                    <div class="col-12">
                        {% include talk.html index=5 room=1 %}
                    </div>
                    <div class="col-12">
                        {% include talk.html index=11 room=2 %}
                    </div>
                    </div>
                </div><!--//item-->
                <div class="item item-talk">
                    <div class="row mb-3 content">
                        <div class="meta">
                            <h4 class="time mb-3">12:00 - 12:30</h4>
                        </div><!--//meta-->
                        <div class="col-12">
                            {% include talk.html index=7 room=1 %}
                        </div>
                        <div class="col-12">
                            {% include talk.html index=8 room=2 %}
                        </div>
                    </div>
                </div><!--//item-->
                <div class="item item-talk">
                    <div class="meta">
                        <h4 class="time mb-3">12:30 - 14:00</h4>
                    </div><!--//meta-->
                    <div class="content">
                        <h3 class="title mb-3">Lunch break</h3>
                        <div class="desc">Let's have some delicious food together and network.</div>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-other">
                    <div class="meta">
                        <h4 class="time mb-3">14:00 - 14:30</h4>
                    </div><!--//meta-->
                    <div class="content">
                        {% include talk.html index=4 room=1 %}
                        {% include talk.html index=6 room=2 %}
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-other">
                    <div class="meta">
                        <h4 class="time mb-3">14:30 - 15:00</h4>
                    </div><!--//meta-->
                    <div class="content">
                        {% include talk.html index=12 room=1 %}
                        {% include talk.html index=13 room=2 %}
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-other">
                    <div class="meta">
                        <h4 class="time mb-3">15:00 - 15:15</h4>
                    </div><!--//meta-->
                    <div class="content">
                        <h3 class="title mb-3">Coffee Break</h3>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-other">
                    <div class="meta">
                        <h4 class="time mb-3">15:15 - 15:45</h4>
                    </div><!--//meta-->
                    <div class="content">
                        {% include talk.html index=10 room=1 %}
                        {% include talk.html index=14 room=2 %}
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-other">
                    <div class="meta">
                        <h4 class="time mb-3">15:45 - 16:30</h4>
                    </div><!--//meta-->
                    <div class="content">
                        {% include talk.html index=3 room=1%}
                        {% include talk.html index=0 room=2 %}
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-other">
                    <div class="meta">
                        <h4 class="time mb-3">16:30 - 16:45</h4>
                    </div><!--//meta-->
                    <div class="content">
                        <h3 class="title mb-3">Closing Remarks</h3>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item item-other">
                    <div class="meta">
                        <h4 class="time mb-3">17:00 - 18:00</h4>
                    </div><!--//meta-->
                    <div class="content">
                        <h3 class="title mb-3">Get Together</h3>
                        <div class="desc">Snacks and drinks to network at the hotel.</div>
                    </div><!--//content-->
                </div><!--//item-->
            </div><!--//tab-1-content-->
        </div><!--//schedule-tab-content-->
        {% if site.showTicketSale %}
        <div class="schedule-cta text-center mx-auto"><a href="{{site.eventbrite}}" class="btn btn-secondary btn-lg" target="_blank">Buy Tickets</a></div>
        {% endif %}
        {% if site.rsvpLivestream %}
        <div class="schedule-cta text-center mx-auto"><a href="{{site.meetup}}" class="btn btn-secondary btn-lg" target="_blank">RSVP Livestream</a></div>
        {% endif %}
    </div><!--//container-->
</section><!--//schedule-section-->