<section id="speakers-section" class="speakers-section section">
    <div class="container">
        <h3 class="section-heading text-center mb-3">Speakers &amp; MC</h3>
        <div class="section-intro text-center single-col-max mx-auto mb-5">
            We are delighted to be able to present you with a high-quality speaker line-up consisting of leading Keycloak developers, maintainers & experts.
            As the Master of Ceremony, Alexander Schwartz will lead through the day.
        </div>
        {% if site.showCallforsessions %}
        <div class="section-intro text-center single-col-max mx-auto mb-5">
        <div class="hero-cta"><a class="btn btn-primary btn-lg" href="https://forms.office.com/pages/responsepage.aspx?id=hFQsXiLlnUeRylFdbgziKBgok6UO9mxHnShifZvG4ehUQUhMTlJZODZYMThENlVJVjhEU0lEWVRRWi4u&route=shorturl" target="_blank">Call for Sessions</a></div>
        </div>
        {% endif %}
        <div class="row">
            {% include speaker-info.html %}
        </div><!--//row-->
        {% if site.showTicketSale %}
        <div class="speakers-cta text-center py-3"><a class="btn btn-primary btn-lg" href="{{site.eventbrite}}" target="_blank">Get Tickets</a></div>
        {% endif %}
        {% if site.rsvpLivestream %}
        <div class="speakers-cta text-center py-3"><a class="btn btn-primary btn-lg" href="{{site.meetup}}" target="_blank">RSVP Livestream</a></div>
        {% endif %}
    </div><!--//container-->

</section><!--//speakers-section-->
