{% assign talk = site.data.talks[include.index] %}
<h3 class="title mb-3">{{ talk.title }}</h3>
{%- if include.room -%}
<div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>Conference Room {{ include.room }} </div>
{%- endif -%}
{% if talk.speaker %}
<div class="profile mb-3">
    <div class="name">
        {%- for spk in talk.speaker -%}
        {%- assign speaker = site.data.speakers | where: "key", spk | first -%}
        {%- if forloop.index > 1 -%}
        ,
        {% endif -%}
        <a class="theme-link" href="#modal-speaker-{{ spk }}" data-bs-toggle="modal" data-bs-target="#modal-speaker-{{ spk }}">
            {{- speaker.name -}}
        </a>
        {%- endfor -%}
    </div>
</div><!--//profile-->
{% endif %}
{% if talk.room %}
<div class="location mb-3"><i class="fas fa-map-marker-alt me-2"></i>{{ talk.room }}</div>
{% endif %}
<div class="desc mb-3">{{ talk.abstract }}</div>
{% if talk.video %}
<div style="max-width: 540px;">
<div class="ratio ratio-16x9 mb-3">
    <iframe src="https://www.youtube.com/embed/{{talk.video}}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
</div>
</div>
{% endif %}
{% if talk.links or talk.video %}
<div class="list-group">
    {% if talk.video %}
    <a href="https://youtu.be/{{talk.video}}" target="_blank" class="list-group-item-action"><i class="fa fa-video"></i>&nbsp;Video</a>
    {% endif %}
    {% for link in talk.links %}
    <a href="{{ site.baseurl }}/{{link.url}}" target="_blank" class="list-group-item-action"><i class="fa fa-{{link.type}}"></i>&nbsp;{{link.description}}</a>
    {% endfor %}
</div>
{% endif %}
