<section id="tickets-section" class="tickets-section section theme-bg-light">
    <div class="container">

        <div class="offers text-center bg-white p-4 p-lg-5">
            <h4 class="mb-3">What's included?</h4>
            <ul class="offers-list list-unstyled d-inline-block mx-auto text-start">
                {% for incl in page.included %}
                <li><span class="icon-holder me-2"><i class="fas fa-{{incl.icon}}"></i></span>{{incl.text}}</li>
                {% endfor %}
            </ul><!--offers-list-->
        </div><!--//offers-->

    </div><!--//container-->
</section><!--//tickets-section-->