<section id="venue-section" class="venue-section section  theme-bg-primary text-white">
    <div class="container">
        <h3 class="section-heading text-center mb-5 text-white">Venue</h3>
        <div class="row gx-5 py-lg-5">
            <div class="col-12 col-lg-7 h-100">
                <div class="desc">
                    <h4 class="text-white mb-3">Location</h4>
                    <p class="text-white">
                        Van der Valk Hotel Amsterdam Zuidas – RAI<br/>
                        Tommaso Albinonistraat 200<br/>
                        Zuideramstel<br/>
                        1083 HM Amsterdam<br/>
                        Netherlands<br/>
                        1220 Wien<br/>
                        Austria
                    </p>
                    <h4 class="text-white mt-3 mt-lg-5 mb-3">Directions</h4>
                    <p class="text-white">
                        Please use <a href="https://maps.app.goo.gl/qowe9jLSP7icPLpm9" target="_blank" rel="noopener noreferrer external" class="text-white">Google Maps</a> to find out how to get there.
                    </p>
                    <a href="https://maps.app.goo.gl/qowe9jLSP7icPLpm9" target="_blank" rel="noopener noreferrer external" class="btn btn-ghost mb-3">Google Maps</a>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2437.853247241965!2d4.885703777189449!3d52.33680834977583!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c0bdf9c7373169%3A0x2da88d811711871b!2sVan%20der%20Valk%20Hotel%20Amsterdam%20Zuidas!5e0!3m2!1sen!2sde!4v1743362324886!5m2!1sen!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div><!--//desc-->
            </div><!--//col-->
            <div class="col-12 col-xl-3 col-lg-4 offset-lg-1 position-relative h-100 mt-5 mt-lg-0">
                <div class="figures-holder">
                    <div class="figure figure-1"><img class="shadow" src="{{ site.baseurl }}/assets/images/venue/hotel-van-der-valk-1.jpg" alt=""></div>
                    <div class="figure figure-2"><img class="shadow" src="{{ site.baseurl }}/assets/images/venue/hotel-van-der-valk-2.jpg" alt=""></div>
                </div><!--//figures-holder-->
            </div><!--//col-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//venue-section-->